html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 16px;
	background-color: #ccff99;
}
body {
	/* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
	background-color: #ccff99;
}
h1 {
	background-color: #00cccc;
	color: #ff9900;
	text-align: center;
	text-transform: uppercase;
}
nav {
	text-align: center;
	 background-color: #f1f1f1;
}
nav a {
	color: black;
	text-decoration: underline;
	padding: 10px 20px
}
h2{
	color: #262673;
}
main aside{
	display: none;
}
main{
	background-color: #dfff80;
}